<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <title>VueJS</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>

    <div id="app">
      <form>
        <label for="nome">Nome:</label>
        <br>
        <input type="text" v-model="nome" />

        <br>

        <label for="telefone">Telefone:</label>
        <br>
        <input type="text" v-model="telefone" />

        <br>

        <label for="notificacoes">Deseja receber notificações?</label>
        <br>
        <input type="radio" v-model="novidades" name="novidades" value="Sim" />
        Sim
        <input type="radio" v-model="novidades" name="novidades" value="Não" />
        Não

        <br>

        <label for="interesses">Interesses:</label>
        <br>
        <input type="checkbox" v-model="interesses" value="Futebol" /> Futebol
        <br>
        <input type="checkbox" v-model="interesses" value="Volei" /> Vôlei <br>
        <input type="checkbox" v-model="interesses" value="Tenis" /> Tênis

        <br>

        <label for="">Como nos conheceu?</label>
        <select v-model="conheceu">
          <option value="">Escolha...</option>
          <option value="Google">Google</option>
          <option value="TV">TV</option>
          <option value="Revista">Revista</option>
        </select>

        <br>

        <button>Enviar</button>
      </form>

      <br>

      <hr>

      <p>Nome: {{ nome }}</p>
      <p>Telefone: {{ telefone }}</p>
      <p>Gostaria de receber nossas novidades?: {{ novidades }}</p>
      <p>Interesses: {{ interesses }}</p>
      <p>Como nos conheceu: {{ conheceu }}</p>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          nome: "",
          telefone: "",
          novidades: "",
          interesses: [],
          conheceu: ""
        }
      });
    </script>
  </body>
</html>
